<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    <div class="container">
      <div class="heading">
        Exercise Tracker
      </div>
      <div class="forms">
        <div class="form-container">
          <h1>
            Create A New User
          </h1>
          <pre>POST   /api/exercise/new-user   </pre>
            <input type="text" name="username" placeholder="username">
            <input type="submit">
        </div>
        
        <div class="form-container">
          <h1>
            Add Exercise
          </h1>
          <pre>POST   /api/exercise/add   </pre>
            <input type="text" name="userId" placeholder="username">
            <input type="text" name="description" placeholder="username">
            <input type="text" name="duration" placeholder="username">
            <input type="text" name="date" placeholder="username">
            <input type="submit">
        </div>
        
      </div>
    </div>
  </body>
</html>
