/* this file is loaded by index.html and styles the page */

*  {
  margin: 0;
}

.container  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.heading  {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.forms {
  display: flex;
}

.form-container {
  padding: 10px;
  width: 400px;
  height: auto;
  background-color: lightgreen;
  display:flex;
  flex-direction: column;
}

.form-container , pre , input {
  margin: 10px;
}

pre {
  paddding: 5px;
  font-size: 18px;
  background-color: yellow;
}

input {
  height: 25px;
  padding-left: 5px;
  font-size: 16px;
}

input[type=submit] {
  background-color: lightgrey;
  height: 30px;
}